.searchbar__container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
    background-color: lightgray;
    // border-radius: 20px;
}
.searchbar__logo {
    height: 80px;
    width: 80px;
    
}