.searchbar__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,12,253,1) 0%, rgba(255,241,53,1) 90% );
}
#searchbar__logo {
    height: 100px;
    width: 100px;
}